* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    padding: 25px;
    width: 200px;
    height: 600px;
    position: absolute;
    padding-top: 8rem;
    border: 2px dashed #cccccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.corpo {
    width: 80%;
    position: absolute;
    left: 205px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}
    
    
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;
}

/* Layout responsivo - screen*/

@media screen and (max-width: 1000px) {
    .column {
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Layout responsivo - mobile*/
@media (max-width: 400px) {
    
    .header {
        text-align: center;
        padding: 1rem;
        width: 95vw;
        height: 200px;
        position: absolute;
        border: 2px dashed #cccccc;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .corpo {
        width: 100vw;
        position: absolute;
        top: 208px;
        left: 0px;
    }
    .column {
        flex: 50%;
        max-width: 50%;
    }
}